{% extends 'layout.html'%}
{% block title %}密码页{% endblock %}
{% block header %}
 <link rel="stylesheet" type="text/css" href="/static/css/password.css">
 <style type="text/css">
 </style>
{% endblock %}
{% block body %}
<ul class="content-ul">
    <li>
        <label>Registered Email(*)</label>
        <input class="form-control" type="text" id="email"/>
    </li>
    <li>
        <label>New Password(*)</label>
        <input class="form-control" type="password" id="password"/>
    </li>
    <li>
        <label>Reconfirm New Password(*)</label>
        <input class="form-control" type="password" id="newPassword"/>
    </li>
    <li>
        <label style="display:block">Send Verified Code to Email</label>
        <button class="btn btn-warning" style="margin-left: 126px" id="yes">Yes</button>
    </li>
    <li>
        <label>Verified Code(Send to your email*)</label>
        <input class="form-control" type="text" id="varCode"/>
    </li>
     <li>
       <label></label>
       <button class="btn btn-warning" style="margin-left: 110px;margin-top: 10px;" id="confirm">Confirm</button>
    </li>
</ul>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('#yes').on('click', function(){
    if(!$('#email').val()||!$('#password').val()){
        alert('请填入必填项');
        return;
    }else if($('#password').val()!=$('#newPassword').val()){
        alert('两次密码输入不匹配');
        return;
    }else{
        $.ajax({
            url: '/clevel/send_mails',
            dataType: 'json',
            type: 'post',
            data:{email: $('#email').val(),password: $('#password').val()}
        })
        .done(function(data){
            if(data.ret!=0){
                alert('邮箱发送验证码错误')
            }
        })
        .fail(function(err){

        });
    }
});
$('#confirm').on('click', function(){
    if(!$('#email').val()||!$('#password').val()||!$('#varCode').val()){
        alert('请填入必填项');
        return;
    }else if($('#password').val()!=$('#newPassword').val()){
        alert('两次密码输入不匹配');
        return;
    }else{
        $.ajax({
            url: '/clevel/change_password',
            dataType: 'json',
            type: 'post',
            data:{email: $('#email').val(),password: $('#password').val(),var_code: $('#varCode').val()}
        })
        .done(function(json){
            if(json.ret!=0){
                alert('验证码错误');
            }else{
                window.location.href = '/index';
            }
        })
        .fail(function(err){

        });
    }
});
</script>
{% endblock %}